<%= form_with(model: @task, local: true) do |f| %>
  <div>
    <%= f.label :title, "Název" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, "Popis" %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :is_done, "Hotový?" %>
    <%= f.check_box :is_done %>
  </div>

  <div>
    <%= f.label :tag_ids, "Tagy" %><br>
    <%= f.collection_check_boxes :tag_ids,
                                 current_user.tags,
                                 :id, :title %>
  </div>

  <div>
    <%= f.label :project_id, "Projekt" %><br>
    <%= f.collection_select :project_id,
                            current_user.projects,   # data
                            :id, :title,             # value_method, text_method
                            include_blank: "Bez projektu" %>
  </div>

  <div>
    <%= f.label :attachment, "Příloha" %><br>
    <%= f.file_field :attachment %>
  </div>

  <%= f.submit %>
<% end %>