<h1><%= @task.title %></h1>
<p><strong>Popis:</strong> <%= @task.description %></p>
<p><strong>Hotovo?</strong> <%= @task.is_done ? "Ano" : "Ne" %></p>

<% if @task.attachment.attached? %>
  <p><strong>Příloha:</strong> <%= link_to @task.attachment.filename, url_for(@task.attachment) %></p>
<% end %>

<%= link_to "Upravit", edit_task_path(@task) %> |
<%= link_to "Zpět na seznam", tasks_path %>