<%= form_with(model: @project) do |f| %>
  <div>
    <%= f.label :title, "Název" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :position, "Pořadí" %><br>
    <%= f.number_field :position %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>